@use "../abstract/index.scss" as *;

.feature-section {
    text-align: center;
    padding: $padding-s;
    @include breakpoint-up(large){
        text-align: left;
        margin-top: 13rem;
        padding: $padding-lg;
    }
    
    h2{
        color: $darkblue;
        font-size: 1.625rem;
        width: 80%;
        margin: 0 auto;

        @include breakpoint-up(large){
            width: 100%;
            font-size: $font-lg;
            
        }
        
    }
    .tagline{
        font-size: $font-sm;
        margin-bottom: 2rem;
        @include breakpoint-up(large){
            font-size: $font-med;
            width: 35%;
            
        }

    }
    
    .features{
        

        @include breakpoint-up(medium){
          display: flex;   
          flex-wrap: wrap; 

        }

       .feature {
            
            text-align: center;
            padding: 0.9375rem;

            @include breakpoint-up(medium){
                flex: 1 0 50%;
                min-width: none;
            }
            @include breakpoint-up(large){
                flex: 1;
                text-align: left;
                
                
            }
            
            &__image{

            }
            &__title{
                color: $darkblue;
                padding-top: 30px;
                padding-bottom: 10px;
            }
            &__description{
            @include breakpoint-up(large){
                
            }
            } 
       }
    }
}