@use "../abstract/index.scss" as *;




.footer{
    background-color: $darkblue;
    color: $white;
    //padding: 2.5rem;
    text-align: center;
    
    &__container{

       

        @include breakpoint-up(large){
           // margin: 0 12rem;
            display: grid;
            grid-template-columns: 3fx 1fx 1fx 4fx;
            grid-template-rows: repeat(2, 1fx);
            grid-template-areas: 
            "logo link1 link2 cta"
            "social link1 link2 cta";
            text-align: left;
        }
        
    }

    a{
        color: $white;
    }

    &__logo{
        

        margin-bottom: 1.875rem;
        @include breakpoint-up(large){
            grid-area: logo;
        }
        
    }
    &__social{
        
        margin-bottom: 1.875rem;
        a:not(:last-child){
            display: inline-block;
            margin-right: 0.75rem;
        }
           
        
        @include breakpoint-up(large){
            grid-area: social;
        }
    }
    &__link{
        display: flex;
        flex-direction: column;
        align-items: left;
        line-height: 2;
        
        @include breakpoint-up(large){
            text-align: left;
        }


        &.col1{
            @include breakpoint-up(large){
               grid-area: link1;
            }
        }
        &.col2{
            margin-bottom: 1.875rem;
            @include breakpoint-up(large){
                grid-area: link2;
            }
        }
    }
    &__cta{
        
        
        @include breakpoint-up(large){
            grid-area: cta;
        }
    }
    &__credits{
        padding-top: 1.875rem;
        
    }
}
